.imageCarousel{

  max-width: 600px;
}

.imageCarousel__items{
  display: flex;
  flex-direction: row;
  gap: 12px;
  overflow-x: scroll;
}

.imageCarousel__items:hover{
  cursor: pointer;
}

.imageCarousel__items:active{
  cursor: grabbing;
}

.imageCarousel__items::-webkit-scrollbar{
  display: none;
}

.imageCarousel__img{
  min-width: 164px;
  min-height: 149px;
  background-image: url(../../images/img1.png);
  background-position: top;
}