.hotel{
  position: relative;
}

.hotel__title{
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  margin: 0;
  color: #424242;
  position: absolute;
}

.hotel__box{
  display: flex;
  margin: 26px 0;
}

.hotel__date{
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  
  color: #878787;
  margin: 0;
}

.hotel__date-line{
  background-color: #C4C4C4;
  border: 0;
  width: 9px;
  height: 1px;
  margin: 0 15px;
  align-self: center;
  border-radius: 2px;
}

.hotel__duration{
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.408px;
  
  color: #878787;
  margin: 0;
}

.hotel__like{
  background-image: url('../../images/like.svg');
  width: 21px;
  height: 18px;
  background-size: cover;
  position: absolute;
  top:0;
  right: 0;
}

.hotel__like{
  background-image: url('../../images/like.svg');
}


.hotel__price{
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;  
  letter-spacing: -0.408px;
  margin: 0;
  color: #424242;
  position: absolute;
  bottom: 4px;
  right: 0;
}

.hotel__price-span{
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: -0.408px;
  margin-right: 18px;
  color: #878787;
}

.hotel__rating{
  display: flex;
  gap: 3px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  bottom: 0;
}


.hotel__star{
  background-image: url('../../images/star.svg');
  height: 17px;
  width: 17px;
  background-size: contain;
  background-repeat: no-repeat;

}
