.header{
  max-width: 1440px;
  width: 100%;
  padding: 32px 0;
}

.header__box{
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
}

.header__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #424242;
  margin: 0;
}

.header__link{
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 12px;
}

.header__link:hover{
  opacity: 0.8;
}


.header__link-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #41522E;
  margin: 0;
  letter-spacing: -0.408px;

}
