.search{
  /* background: #FFFFFF;
  border-radius: 16px; */
}

.search__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  max-width: 296px;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  padding: 32px;
}

.search__input{
  border: 1px solid #C9CACC;
  border-radius: 4px;
  margin: 7px 0 0 0;
  padding: 16px;

  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.search__fieldset{
  width: 296px;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 32px 0;
  gap: 16px;
}

.search__field{
  display: flex;
  flex-direction: column;

}

.search__input-label{
  align-self: flex-start;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #424242;
}

.search__button{
  width: 100%;
  height: 50px;
  background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;

  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.search__button:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
  cursor: pointer;
}

.search__button:active{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}


.search__button:disabled{
  background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
  opacity: 0.75;
  cursor: default;
}