.search-result{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.search-result__text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-result__title{
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #424242;
  display: flex;
}

.search-result__data{
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;  
  color: #41522E;
  margin: 0;
}

.search-result__arrow{
  background-image: url('../../images/arrow.svg');
  width: 11px;
  height: 20px;
  display: block;
  align-self: center;
  margin: 0 20px;
}

